p {
    color: red; 
    font-size: 20px; 
}

h1{
    text-decoration: underline
}

#big-image {
    Height:300px;
    Width: 600px;
}

#small-image {
    height:200px;
    width:200px;
    display: block 
}

.input-group {
    margin-top: 10px;
    margin-left: 10px;
}